<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Company ADD-POST</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  	<link href="{% static 'css/style.css' %} " rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/webicon.png' %}" />

</head>
<body style="background-color: #88738E;">
	
		<div class="container p-3" style="background-color: #ffffff;">

			<!-- HEADER DIV -->
			<div class="row header">
				<div class="col-3 col-sm-3">
				<img src="{% static 'images/WorkplaceIcon.png' %}" alt="Company Logo" style=" height: 64px; width: auto;" class="companyLogo">
				</div>
				<div class="col-7 col-sm-7">
				</div>
				<div class="col-2 col-sm-2">
                
				<img src="{{comdb.profilepic.url}}" alt="User Icon" style="width: 34px; height: 34px;" class="usericon rounded-pill "><br>{{comdb.companyname}}<br><a href="{% url 'logout' %}">Log out</a>
				</div>
			</div>
			<br>
			<div class="row sticky">
			  <ul class="nav nav-pills nav-justified navbarclr">
			    <li class="nav-item">
			      <a class="nav-link active" href="{% url 'addpost' comdb.comid %}"> <img src="{% static 'images/icon/addpost.png' %}" alt="Add Posts" style="width: 34px; height: 34px;" class="btnicon"> </a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'commsg' comdb.comid %}"><img src="{% static 'images/icon/msgwhite.png' %}" alt="Messages" style="width: 34px; height: 34px;" class="btnicon"></a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'ComNotifications' comdb.comid %}"><img src="{% static 'images/icon/notificationwhite.png' %}" alt="Notifications" style="width: 34px; height: 34px;" class="btnicon"></a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'mypost' comdb.comid %}"><img src="{% static 'images/icon/mypost.png' %}" alt="My Posts" style="width: 34px; height: 34px;" class="btnicon"></a>
			    </li>
			  </ul>
			</div>
			<div>
				<style>
					h5{
						color: red;
					}
				</style>
				{% for message in messages %}
				<h5>{{message}}</h5>
				{% endfor %}
			</div>

			
			<hr style="color:#242582; height:3px;">

            <div class="addpost">
				
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <label for="jobfield" class="addpostlabel">Job Field:</label><br>
                      <input type="text" id="jobfield" name="jobfield" class="editposttextfield" required><br><br>
        
                      <label for="jobpost" class="addpostlabel">Job Post:</label><br>
                      <input type="text" id="jobpost" name="jobpost" class="editposttextfield" required><br><br>
        
                      <label for="salary" class="addpostlabel">Salary:</label><br>
                      <input type="text" id="salary" name="salary" class="editposttextfield"><br><br>
        
                      <label for="location" class="addpostlabel">Location:</label><br>
                      <input type="text" id="location" name="location" class="editposttextfield" required><br><br>
        
                      <label for="flyerimg" class="addpostlabel">Flyer Image:</label><br>
                      <input type="file" name="flyerimg" style="font-size:14px"; required><br><br>
        
                      <input type="submit" value="Submit" id="subBtn"><br><br>
                      
                  </form>
				
            </div>
			<br>
			<hr style="color:#242582; height:3px;">

		</div>
</body>
</html>